h1 {
  font-size: 70px;
  text-align: center;
}

body {
  background-color: #b3ffe6;
}

#f {
  font-size: 50px;
}

#Sbm_name {
  width: 400px;
  height: 100px;
}

#source {
  border-radius: 10px;
}

.s0 {
  width: 700px;
  margin: auto;
}

.s1 {
  width: 900px;
  margin: auto;
}

.s2 {
  width: 900px;
  margin: auto;
}

.s3 {
  width: 900px;
  margin: auto;
}

.w3-button.w3-round-large {
  width: 900px;
  height: 200px;
}
